body{
  background-color:  #4d2202;
}
.colorRosa{
  background-color:  #e51027;
}
.letrasBlancas{
  color: white;
}
li{
  display: inline-block;
  padding: 20px;
  list-style: none;
}

a{
  text-decoration: none;
  padding: 10px;
}

img{
  width: 200px;
  height: 200px;
}
div.imagenPanda{
  display: inline-block;
}

.botones{
  width: calc((100%-5%)/3.5);
}
p{
  display: inline-block;
  width: calc((100%-5%)/2.5);
  margin:15px;
  color: yellow;

}
